html {
  box-sizing: border-box;
  font-family: Roboto, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.hero-header {
  font-size: 48px;
  font-weight: 900;
}

.hero-text,
.links {
  font-size: 18px;
  color: #e5e7eb;
}

h2 {
  font-size: 24px;
  font-weight: 900;
}

h3 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.quote {
  background-color: #e5e7eb;
}

cite {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}

.sign-up-box,
h2,
.hero-header,
.footer {
  color: #f9faf8;
}

.nav,
.footer,
.header {
  background-color: #1f2937;
}

.header-button,
.sign-up-box {
  background-color: #3882f6;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

/* Layout */

body {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  padding: 12px 120px;
}

.links {
  display: flex;
  margin-left: auto;
  gap: 16px;
}

.header {
  padding: 60px 120px;
  display: flex;
  gap: 32px;
}

.header-content > * {
  margin-bottom: 8px;
}

.image {
  background-color: lightgrey;
  flex: 1;
}

.header-content {
  flex: 1;
}

.header-button {
  border-radius: 6px;
  padding: 4px 12px;
  border-style: none;
  color: #f9faf8;
}
